body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:685px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:14px;
  width:667px;
  height:375px;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:14px;
  width:667px;
  height:375px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:22px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:22px;
  width:25px;
  height:15px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:22px;
  width:20px;
  height:15px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:294px;
  width:50px;
  height:50px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:22px;
  width:40px;
  height:38px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:21px;
  width:40px;
  height:38px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:237px;
  width:57px;
  height:21px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_ann {
  border-width:0px;
  position:absolute;
  left:377px;
  top:233px;
  width:1px;
  height:1px;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:103px;
  width:39px;
  height:21px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:268px;
  width:40px;
  height:38px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:53px;
  width:50px;
  height:50px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:41px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:268px;
  width:109px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u895_ann {
  border-width:0px;
  position:absolute;
  left:469px;
  top:264px;
  width:1px;
  height:1px;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:41px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:268px;
  width:109px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u896_ann {
  border-width:0px;
  position:absolute;
  left:330px;
  top:264px;
  width:1px;
  height:1px;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:53px;
  width:50px;
  height:50px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:103px;
  width:39px;
  height:21px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:53px;
  width:50px;
  height:50px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-top:0px;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:15px;
  width:337px;
  height:28px;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:175px;
  width:39px;
  height:21px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:85px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:83px;
  width:20px;
  height:20px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:83px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:81px;
  width:20px;
  height:20px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:368px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:366px;
  width:20px;
  height:20px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:85px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:83px;
  width:20px;
  height:20px;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:59px;
  width:31px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:59px;
  width:31px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:342px;
  width:31px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:59px;
  width:31px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:19px;
  width:294px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:308px;
  width:40px;
  height:38px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(20, 75, 111, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:316px;
  width:35px;
  height:25px;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:317px;
  width:18px;
  height:24px;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:270px;
  width:112px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:190px;
  width:112px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:230px;
  width:112px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:347px;
  width:40px;
  height:38px;
  color:#FF0000;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:159px;
  width:50px;
  height:50px;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:160px;
  width:50px;
  height:50px;
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:232px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:230px;
  width:20px;
  height:20px;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:206px;
  width:31px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:232px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:230px;
  width:20px;
  height:20px;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:206px;
  width:31px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:72px;
  width:44px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:70px;
  width:44px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:72px;
  width:44px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:217px;
  width:44px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:354px;
  width:44px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:219px;
  width:44px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:174px;
  width:39px;
  height:21px;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
