body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:781px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:40px;
  width:679px;
  height:382px;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:383px;
}
#u760_ref {
  border-width:0px;
  position:absolute;
  left:773px;
  top:412px;
  width:1px;
  height:1px;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:368px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:47px;
  width:661px;
  height:368px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:376px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:44px;
  width:667px;
  height:375px;
  opacity:0.7;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:150px;
  width:600px;
  height:188px;
  overflow:hidden;
}
#u763_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:188px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u763_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:13px;
  width:113px;
  height:150px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:13px;
  width:113px;
  height:150px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:13px;
  width:113px;
  height:150px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:13px;
  width:113px;
  height:150px;
  font-size:25px;
  color:#FFFFFF;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:113px;
  width:81px;
  height:29px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:13px;
  width:113px;
  height:150px;
  font-size:25px;
  color:#FFFFFF;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:115px;
  width:82px;
  height:29px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:13px;
  width:113px;
  height:150px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:13px;
  width:113px;
  height:150px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:13px;
  width:113px;
  height:150px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:55px;
  width:29px;
  height:30px;
  color:#FFFFFF;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:83px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
