body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:374px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:21px;
  width:667px;
  height:374px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:376px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:21px;
  width:667px;
  height:375px;
  opacity:0.7;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:29px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:85px;
  width:418px;
  height:29px;
  color:#FFFFFF;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:414px;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:23px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:104px;
  width:85px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:186px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:126px;
  width:158px;
  height:185px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:338px;
  width:50px;
  height:50px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:336px;
  width:50px;
  height:50px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:77px;
  width:44px;
  height:39px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:47px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:338px;
  width:50px;
  height:46px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:90px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:163px;
  width:116px;
  height:89px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:124px;
  width:187px;
  height:187px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:75px;
  width:183px;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:87px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:124px;
  width:187px;
  height:86px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:183px;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:83px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:229px;
  width:187px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:183px;
  word-wrap:break-word;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:43px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:24px;
  width:40px;
  height:40px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:36px;
  height:30px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:31px;
  width:33px;
  height:27px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:43px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:23px;
  width:40px;
  height:40px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:31px;
  height:35px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:27px;
  width:28px;
  height:32px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:43px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:23px;
  width:40px;
  height:40px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_ann {
  border-width:0px;
  position:absolute;
  left:585px;
  top:19px;
  width:1px;
  height:1px;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:37px;
  height:29px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:30px;
  width:34px;
  height:26px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:58px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:56px;
  width:57px;
  height:15px;
  color:#FFFFFF;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:56px;
  width:57px;
  height:15px;
  color:#FFFFFF;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:59px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:328px;
  width:163px;
  height:58px;
  font-size:20px;
  color:#FFFFFF;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:159px;
  word-wrap:break-word;
}
#u663_ann {
  border-width:0px;
  position:absolute;
  left:757px;
  top:324px;
  width:1px;
  height:1px;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:38px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:336px;
  width:51px;
  height:37px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:371px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:371px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:371px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:56px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:21px;
  width:354px;
  height:55px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:53px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:23px;
  width:50px;
  height:50px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:43px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:28px;
  width:34px;
  height:42px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:32px;
  width:137px;
  height:29px;
  color:#FFFFFF;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:32px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:32px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:27px;
  width:57px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:43px;
  width:68px;
  height:15px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:59px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
