body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:374px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:21px;
  width:667px;
  height:374px;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:376px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:21px;
  width:667px;
  height:375px;
  opacity:0.7;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:29px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:85px;
  width:418px;
  height:29px;
  color:#FFFFFF;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:414px;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:23px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:104px;
  width:85px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:186px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:126px;
  width:158px;
  height:185px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:338px;
  width:50px;
  height:50px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:336px;
  width:50px;
  height:50px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:77px;
  width:44px;
  height:39px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:47px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:338px;
  width:50px;
  height:46px;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:90px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:163px;
  width:116px;
  height:89px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:124px;
  width:187px;
  height:187px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:75px;
  width:183px;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:87px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:124px;
  width:187px;
  height:86px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:183px;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:83px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:229px;
  width:187px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:183px;
  word-wrap:break-word;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:43px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:24px;
  width:40px;
  height:40px;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:36px;
  height:30px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:31px;
  width:33px;
  height:27px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:43px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:23px;
  width:40px;
  height:40px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:31px;
  height:35px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:27px;
  width:28px;
  height:32px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:43px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:23px;
  width:40px;
  height:40px;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_ann {
  border-width:0px;
  position:absolute;
  left:585px;
  top:19px;
  width:1px;
  height:1px;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:37px;
  height:29px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:30px;
  width:34px;
  height:26px;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:58px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:56px;
  width:57px;
  height:15px;
  color:#FFFFFF;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:56px;
  width:57px;
  height:15px;
  color:#FFFFFF;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:59px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:328px;
  width:163px;
  height:58px;
  font-size:20px;
  color:#FFFFFF;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:159px;
  word-wrap:break-word;
}
#u617_ann {
  border-width:0px;
  position:absolute;
  left:757px;
  top:324px;
  width:1px;
  height:1px;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:38px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:336px;
  width:51px;
  height:37px;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:371px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:371px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:371px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:56px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:21px;
  width:354px;
  height:55px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:53px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:23px;
  width:50px;
  height:50px;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:43px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:28px;
  width:34px;
  height:42px;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:32px;
  width:137px;
  height:29px;
  color:#FFFFFF;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:32px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:32px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:27px;
  width:57px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:43px;
  width:68px;
  height:15px;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:59px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
