body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:698px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:376px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:16px;
  width:667px;
  height:375px;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:22px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:370px;
  width:631px;
  height:21px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:330px;
  width:61px;
  height:58px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:337px;
  width:36px;
  height:45px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:372px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:368px;
  width:15px;
  height:21px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:371px;
  width:37px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:23px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:28px;
  width:118px;
  height:22px;
  opacity:0.8;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:31px;
  width:37px;
  height:16px;
  color:#FFFFFF;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:33px;
  width:1px;
  height:13px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:32px;
  width:25px;
  height:14px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:32px;
  width:20px;
  height:15px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:33px;
  width:1px;
  height:13px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:31px;
  width:27px;
  height:22px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:29px;
  width:18px;
  height:25px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:29px;
  width:25px;
  height:25px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:81px;
  width:61px;
  height:58px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:88px;
  width:36px;
  height:45px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:143px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:81px;
  width:61px;
  height:58px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:88px;
  width:36px;
  height:45px;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:143px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:272px;
  width:74px;
  height:92px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:272px;
  width:74px;
  height:92px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:272px;
  width:74px;
  height:92px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:272px;
  width:74px;
  height:92px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:272px;
  width:74px;
  height:92px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:272px;
  width:74px;
  height:92px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:272px;
  width:74px;
  height:92px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:272px;
  width:74px;
  height:92px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:272px;
  width:74px;
  height:92px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:272px;
  width:74px;
  height:92px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:272px;
  width:74px;
  height:92px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:272px;
  width:74px;
  height:92px;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:272px;
  width:74px;
  height:92px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:272px;
  width:74px;
  height:92px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:76px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:87px;
  width:42px;
  height:65px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:76px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:71px;
  width:43px;
  height:65px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:96px;
  width:30px;
  height:30px;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:24px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:47px;
  width:325px;
  height:23px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:50px;
  width:25px;
  height:22px;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:50px;
  width:242px;
  height:16px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:32px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:16px;
  width:368px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:20px;
  width:165px;
  height:16px;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:315px;
  width:21px;
  height:28px;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:283px;
  width:25px;
  height:22px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:244px;
  width:25px;
  height:24px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:27px;
  width:20px;
  height:28px;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:294px;
  width:0px;
  height:0px;
}
#u910_seg0 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-4px;
  width:13px;
  height:8px;
}
#u910_seg1 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-46px;
  width:8px;
  height:50px;
}
#u910_seg2 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-46px;
  width:13px;
  height:8px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:225px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:140px;
  width:227px;
  height:224px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:140px;
  width:114px;
  height:31px;
  color:#FFFFFF;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:140px;
  width:114px;
  height:31px;
  color:#FFFFFF;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:181px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:174px;
  width:210px;
  height:180px;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:181px;
  width:193px;
  height:23px;
  font-size:14px;
  text-align:left;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:214px;
  width:193px;
  height:23px;
  text-align:left;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:247px;
  width:193px;
  height:23px;
  text-align:left;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:280px;
  width:193px;
  height:23px;
  text-align:left;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:313px;
  width:193px;
  height:23px;
  text-align:left;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:167px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:181px;
  width:5px;
  height:166px;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:45px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:193px;
  width:5px;
  height:44px;
  color:#000000;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:289px;
  width:126px;
  height:24px;
  font-size:14px;
  text-align:left;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
