body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:725px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:32px;
  width:670px;
  height:380px;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:381px;
}
#u998_ref {
  border-width:0px;
  position:absolute;
  left:717px;
  top:402px;
  width:1px;
  height:1px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:326px;
  width:40px;
  height:38px;
}
#u1000_img.selected {
}
#u1000.selected {
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:23px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:335px;
  width:20px;
  height:20px;
  opacity:0.7;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:23px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:335px;
  width:20px;
  height:20px;
  opacity:0.7;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:326px;
  width:40px;
  height:38px;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
