body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:725px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:32px;
  width:670px;
  height:380px;
}
#u1634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:381px;
}
#u1634_ref {
  border-width:0px;
  position:absolute;
  left:717px;
  top:402px;
  width:1px;
  height:1px;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:326px;
  width:40px;
  height:38px;
}
#u1636_img.selected {
}
#u1636.selected {
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1637_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:23px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:335px;
  width:20px;
  height:20px;
  opacity:0.7;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:23px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:335px;
  width:20px;
  height:20px;
  opacity:0.7;
}
#u1638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:326px;
  width:40px;
  height:38px;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
