body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1111px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:438px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:28px;
  width:826px;
  height:437px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:826px;
  word-wrap:break-word;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:211px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:515px;
  width:826px;
  height:210px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:191px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:863px;
  width:826px;
  height:190px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:57px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:770px;
  width:826px;
  height:56px;
  font-size:16px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:57px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:714px;
  width:826px;
  height:56px;
  font-size:16px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  word-wrap:break-word;
}
