body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:48px;
  width:667px;
  height:375px;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:53px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:192px;
  width:185px;
  height:52px;
  opacity:0.5;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:53px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:194px;
  width:185px;
  height:52px;
  opacity:0.5;
}
#u1406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:398px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u1408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:396px;
  width:20px;
  height:20px;
}
#u1409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:399px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FDEA73;
}
#u1410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:364px;
  width:50px;
  height:50px;
}
#u1411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:55px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u1412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:55px;
  width:25px;
  height:15px;
}
#u1413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:55px;
  width:20px;
  height:15px;
}
#u1414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:55px;
  width:40px;
  height:38px;
}
#u1415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:54px;
  width:40px;
  height:38px;
}
#u1416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:86px;
  width:50px;
  height:50px;
}
#u1417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:84px;
  width:50px;
  height:50px;
}
#u1418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:86px;
  width:50px;
  height:50px;
}
#u1419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:340px;
  height:31px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:48px;
  width:337px;
  height:28px;
}
#u1420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:118px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u1422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:116px;
  width:20px;
  height:20px;
}
#u1423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:116px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u1425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:114px;
  width:20px;
  height:20px;
}
#u1426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:118px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u1428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:116px;
  width:20px;
  height:20px;
}
#u1429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:92px;
  width:31px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u1430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:92px;
  width:31px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u1431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:92px;
  width:31px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u1432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:52px;
  width:287px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u1434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:192px;
  width:50px;
  height:50px;
}
#u1434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:193px;
  width:50px;
  height:50px;
}
#u1435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:265px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u1437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:263px;
  width:20px;
  height:20px;
}
#u1438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:239px;
  width:31px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u1439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:265px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u1441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u1442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:263px;
  width:20px;
  height:20px;
}
#u1442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:239px;
  width:31px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u1443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:105px;
  width:44px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u1444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:103px;
  width:44px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u1445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:105px;
  width:44px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u1446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:250px;
  width:44px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u1447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:252px;
  width:44px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
}
#u1448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:298px;
  width:73px;
  height:90px;
}
#u1450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:298px;
  width:73px;
  height:90px;
}
#u1451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:298px;
  width:73px;
  height:90px;
}
#u1452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:298px;
  width:73px;
  height:90px;
}
#u1453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:298px;
  width:73px;
  height:90px;
}
#u1454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:298px;
  width:73px;
  height:90px;
}
#u1455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:298px;
  width:73px;
  height:90px;
}
#u1456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:298px;
  width:73px;
  height:90px;
}
#u1457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:298px;
  width:73px;
  height:90px;
}
#u1458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:298px;
  width:73px;
  height:90px;
}
#u1459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:298px;
  width:73px;
  height:90px;
}
#u1460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:298px;
  width:40px;
  height:38px;
}
#u1461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:338px;
  width:40px;
  height:38px;
}
#u1463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:346px;
  width:35px;
  height:25px;
}
#u1464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:25px;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:347px;
  width:18px;
  height:24px;
}
#u1465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:377px;
  width:40px;
  height:38px;
  color:#FF0000;
}
#u1466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u1467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:53px;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:135px;
  width:185px;
  height:52px;
  opacity:0.5;
}
#u1467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1469_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:60px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:195px;
  width:39px;
  height:50px;
}
#u1469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:60px;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:195px;
  width:39px;
  height:50px;
}
#u1470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1472_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:60px;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:193px;
  width:39px;
  height:50px;
}
#u1472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:60px;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:193px;
  width:39px;
  height:50px;
}
#u1473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1475_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:60px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:136px;
  width:39px;
  height:50px;
}
#u1475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1476_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:49px;
  height:60px;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:136px;
  width:39px;
  height:50px;
}
#u1476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:41px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:250px;
  width:109px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u1478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:41px;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:250px;
  width:109px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u1479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:78px;
  width:25px;
  height:25px;
}
#u1479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:81px;
  width:13px;
  height:13px;
}
#u1480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:81px;
  width:13px;
  height:13px;
}
#u1481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:136px;
  width:40px;
  height:50px;
}
#u1483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:136px;
  width:40px;
  height:50px;
}
#u1484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:136px;
  width:40px;
  height:50px;
}
#u1485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:136px;
  width:40px;
  height:50px;
}
#u1486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:136px;
  width:40px;
  height:50px;
}
#u1487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:136px;
  width:40px;
  height:50px;
}
#u1488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:136px;
  width:40px;
  height:50px;
}
#u1489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:136px;
  width:40px;
  height:50px;
}
#u1490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:136px;
  width:40px;
  height:50px;
}
#u1491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:136px;
  width:40px;
  height:50px;
}
#u1492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:136px;
  width:40px;
  height:50px;
}
#u1493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:28px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:218px;
  width:50px;
  height:25px;
  color:#FFE8B1;
}
#u1494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:136px;
  width:40px;
  height:50px;
}
#u1496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:136px;
  width:40px;
  height:50px;
}
#u1497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:136px;
  width:40px;
  height:50px;
}
#u1498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:136px;
  width:40px;
  height:50px;
}
#u1499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:136px;
  width:40px;
  height:50px;
}
#u1500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:136px;
  width:40px;
  height:50px;
}
#u1501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:136px;
  width:40px;
  height:50px;
}
#u1502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:136px;
  width:40px;
  height:50px;
}
#u1503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:136px;
  width:40px;
  height:50px;
}
#u1504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:136px;
  width:40px;
  height:50px;
}
#u1505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:50px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:136px;
  width:41px;
  height:50px;
}
#u1506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:45px;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:331px;
  width:43px;
  height:45px;
}
#u1508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:347px;
  width:14px;
  height:18px;
}
#u1509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:58px;
  height:38px;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:151px;
  width:55px;
  height:35px;
  font-size:16px;
  color:#FFE8B1;
}
#u1510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u1511_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:58px;
  height:38px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:151px;
  width:55px;
  height:35px;
  font-size:16px;
  color:#FFE8B1;
}
#u1511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
