body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:359px;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:640px;
  height:358px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:452px;
  height:309px;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:46px;
  width:449px;
  height:306px;
  opacity:0.32;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:39px;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:353px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:178px;
  height:306px;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:49px;
  width:175px;
  height:303px;
  opacity:0.32;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_ann {
  border-width:0px;
  position:absolute;
  left:172px;
  top:45px;
  width:1px;
  height:1px;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:6px;
  width:38px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:29px;
  width:38px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FAE496;
  text-align:center;
}
#u2032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:38px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
}
#u2033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:22px;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:10px;
  width:103px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u2035 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:6px;
  width:38px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_ann {
  border-width:0px;
  position:absolute;
  left:624px;
  top:2px;
  width:1px;
  height:1px;
}
#u2036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u2036 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:29px;
  width:38px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FAE496;
  text-align:center;
}
#u2036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
}
#u2037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u2039 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:6px;
  width:38px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_ann {
  border-width:0px;
  position:absolute;
  left:533px;
  top:2px;
  width:1px;
  height:1px;
}
#u2040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u2040 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:14px;
  width:24px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u2041 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:12px;
  width:26px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u2042 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:29px;
  width:38px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FAE496;
  text-align:center;
}
#u2042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:38px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:6px;
  width:38px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:15px;
  width:24px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:13px;
  width:19px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:29px;
  width:38px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FAE496;
  text-align:center;
}
#u2047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
}
#u2048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:1px;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:178px;
  width:370px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:123px;
  height:68px;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:78px;
  width:110px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2049_img.selected {
}
#u2049.selected {
}
#u2049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_ann {
  border-width:0px;
  position:absolute;
  left:557px;
  top:74px;
  width:1px;
  height:1px;
}
#u2050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:112px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:112px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:53px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:123px;
  height:68px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:78px;
  width:110px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2053_img.selected {
}
#u2053.selected {
}
#u2053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_ann {
  border-width:0px;
  position:absolute;
  left:367px;
  top:74px;
  width:1px;
  height:1px;
}
#u2054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:166px;
  width:29px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:166px;
  width:29px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:123px;
  height:68px;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:208px;
  width:110px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_ann {
  border-width:0px;
  position:absolute;
  left:557px;
  top:204px;
  width:1px;
  height:1px;
}
#u2057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:194px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:194px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:251px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:251px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:259px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2062 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:184px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:123px;
  height:68px;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:208px;
  width:110px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:195px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:251px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2066 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:251px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2067 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:195px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u2068 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:110px;
  width:149px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:44px;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:58px;
  width:160px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:62px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#F6CA73;
}
#u2070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:114px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#F6CA73;
}
#u2071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u2072 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:113px;
  width:48px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F6CA73;
  text-align:center;
}
#u2072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u2073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u2073 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:134px;
  width:104px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F6CA73;
}
#u2073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u2074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:18px;
}
#u2074 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:82px;
  width:89px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F6CA73;
}
#u2074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u2075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u2075 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:65px;
  width:48px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F6CA73;
  text-align:center;
}
#u2075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u2076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:159px;
  width:42px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u2077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:159px;
  width:42px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u2078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:289px;
  width:42px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u2079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
}
#u2079 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:290px;
  width:42px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:6px;
  width:38px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:14px;
  width:24px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:14px;
  width:26px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:29px;
  width:38px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#FAE496;
  text-align:center;
}
#u2085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
}
#u2086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:29px;
  width:103px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u2087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:53px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:130px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:1px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:307px;
  width:445px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:11px;
  width:175px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u2090_ann {
  border-width:0px;
  position:absolute;
  left:292px;
  top:7px;
  width:1px;
  height:1px;
}
#u2091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:162px;
  width:149px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:187px;
  width:86px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F6CA73;
}
#u2092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u2093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:164px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#F6CA73;
}
#u2093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:165px;
  width:48px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F6CA73;
  text-align:center;
}
#u2094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u2095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:66px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:117px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:170px;
  width:29px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:21px;
  height:21px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:2px;
  width:14px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  word-wrap:break-word;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:6px;
  width:38px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:15px;
  width:24px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:14px;
  width:23px;
  height:22px;
}
#u2102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:29px;
  width:38px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FAE496;
  text-align:center;
}
#u2103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -webkit-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
  -moz-text-shadow:0px 0px 5px rgba(0, 0, 0, 1);
}
#u2104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:39px;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:310px;
  width:104px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u2104_ann {
  border-width:0px;
  position:absolute;
  left:452px;
  top:306px;
  width:1px;
  height:1px;
}
#u2105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:84px;
  width:101px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u2105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:101px;
  word-wrap:break-word;
}
#u2105_ann {
  border-width:0px;
  position:absolute;
  left:551px;
  top:80px;
  width:1px;
  height:1px;
}
#u2106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:214px;
  width:101px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u2106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:101px;
  word-wrap:break-word;
}
#u2107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:84px;
  width:101px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u2107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:101px;
  word-wrap:break-word;
}
#u2107_ann {
  border-width:0px;
  position:absolute;
  left:361px;
  top:80px;
  width:1px;
  height:1px;
}
#u2108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:214px;
  width:101px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u2108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:101px;
  word-wrap:break-word;
}
#u2108_ann {
  border-width:0px;
  position:absolute;
  left:551px;
  top:210px;
  width:1px;
  height:1px;
}
#u2109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:39px;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:310px;
  width:85px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u2110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:39px;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:310px;
  width:85px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u2111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:360px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:640px;
  height:359px;
  opacity:0.5;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_ann {
  border-width:0px;
  position:absolute;
  left:633px;
  top:-3px;
  width:1px;
  height:1px;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:359px;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:0px;
  width:221px;
  height:358px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_ann {
  border-width:0px;
  position:absolute;
  left:633px;
  top:-4px;
  width:1px;
  height:1px;
}
#u2114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:39px;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:265px;
  width:221px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:39px;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:0px;
  width:221px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:21px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:10px;
  width:220px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#996633;
  text-align:center;
}
#u2116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u2117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:39px;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:38px;
  width:221px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:39px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:75px;
  width:221px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:39px;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:112px;
  width:221px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:39px;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:149px;
  width:221px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:39px;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:227px;
  width:221px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:201px;
  width:97px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#996633;
}
#u2122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u2123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:201px;
  width:29px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:241px;
  width:97px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#996633;
}
#u2124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u2125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:238px;
  width:29px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:125px;
  width:101px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#996633;
}
#u2126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u2127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:161px;
  width:101px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#996633;
}
#u2127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u2128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:159px;
  width:14px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:121px;
  width:14px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:121px;
  width:22px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:159px;
  width:24px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:197px;
  width:24px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:238px;
  width:24px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:276px;
  width:101px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#996633;
}
#u2134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u2135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:274px;
  width:14px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:274px;
  width:22px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:48px;
  width:101px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#996633;
}
#u2137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u2138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:88px;
  width:101px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#996633;
}
#u2138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u2139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:84px;
  width:14px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:51px;
  width:14px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:48px;
  width:24px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:82px;
  width:24px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2144_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:219px;
  height:129px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:119px;
  width:208px;
  height:118px;
}
#u2144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:208px;
  width:67px;
  height:21px;
  color:#FFFFFF;
}
#u2145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u2146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:208px;
  width:67px;
  height:21px;
  color:#FFFFFF;
}
#u2146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u2147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:171px;
  width:99px;
  height:16px;
}
#u2147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:133px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:33px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:163px;
  width:186px;
  height:32px;
  opacity:0.5;
  color:#FFFFFF;
}
#u2149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:265px;
  width:217px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:33px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:6px;
  width:29px;
  height:22px;
}
#u2151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:25px;
  word-wrap:break-word;
}
